@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Poppins:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgba(11, 5, 29, 0.946);
}

a {
    text-decoration: none;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    height: 70px;
    align-items: center;
    background: rgba(14, 6, 37, 0.966);
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
}

.white {
    color: #fff;
}

.lesswhitec {
    color: rgba(154, 149, 149, 0.96);
}

.vl {
    border-left: 1px solid rgb(229, 229, 232);
    height: 150px;
}

.center {
    align-items: center;
}

.red {
    color: red;
}

.purple {
    color: rgb(64, 0, 128);
}

.bluel {
    color: rgb(59, 89, 171);
}

.bluet {
    color: rgb(36, 163, 222);
}

.star {
    display: flex;
    flex-direction: row-reverse;
    grid-row: 1 / 2;
}

.shadow {
    box-shadow: 2px 5px 10px black;
    text-shadow: 3px 3px 8px rgb(55, 56, 56);
}

.bgc {
    background-color: #0b051d;
}

.bgc1 {
    background-color: #251750;
}

.bgc2 {
    background-color: #3a286e;
}

.bgc3 {
    background-color: #251458;
}

.txtc {
    color: blueviolet;
}

.btn {
    border: none;
    border-radius: 0.7rem;
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    background: linear-gradient(to bottom, #af68c5, #1f3e6d);
    /* margin-top: 2rem;
    margin-bottom: 3rem; */
    color: #fff;
}


/* .btn:hover {
        font-color: green;
    } */


/* } */

.btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn :after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover {
    padding-right: 25px;
}

.btn:hover:after {
    opacity: 1;
    right: 0;
}